.popup {
  width: 800px;
  padding: 20px;
  font-family: monospace;
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.ascii-art {
  margin: 0;
  white-space: pre;
  font-size: 8px;
  line-height: 1;
  letter-spacing: 0;
  font-family: monospace;
}
